-#  This file is app/views/movies/index.html.haml
%h1 All Movies

%table#movies
  %thead
    %tr
      %th No.
      %th Movie Title
      %th Rating
      %th Release Date
      %th More Info
  %tbody
    = render :partial=>'movie', :collection=>@movies
    
-# add to end of index.html.haml
= link_to 'Add new movie', new_movie_path
= javascript_pack_tag "movie_list_filter"
= javascript_pack_tag "movie_detail_popup"

%h1 Search TMDb for a movie

= form_tag :action => 'search_tmdb' do

  %label{:for => 'search_terms'} Search Terms
  = text_field_tag 'search_terms'
  = submit_tag 'Search TMDb'